/* Include Foundation */

@import '../../../../node_modules/foundation-sites/scss/foundation';

@include foundation-global-styles;
@include foundation-grid;


$header-bkgd-color: #80B192;
$primary-bkgd-color: #6A8D92;
$secondary-bkgd-color: #fff;

$highlight-txt-color: #493548;

$header-font: 'Monofett', cursive;
$primary-font: 'Economica', sans-serif;

$btn-primary-color: #c3d1d3;
$btn-highlight-color: #493548;
$primary-border-radius: 5px;


button {
    @include button;
    border-radius: $primary-border-radius;
    background-color: $btn-primary-color;
    font-family: $primary-font;
    font-size: 1em;
    
}

.clicked {
    background-color:green;
}


body {
    font-family: $primary-font;

    header {
        @include grid-row();
        background-color: $header-bkgd-color;
        max-width: 100%;
        text-align: center;

        h1 {
            font-family: $header-font;
            color: $highlight-txt-color;
            text-transform: uppercase;
            font-size: 4em;
            margin: 0;
            padding: 1.5%;
        }
    }

    section {
        @include grid-row();
        max-width: 100%;
        background-color: $primary-bkgd-color;
        text-align: center;

        h2 {
            font-size: 2em;
        }

        h3 {
            font-size: 1.2em;
        }

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 0;

            li {
                background-color: $secondary-bkgd-color;
                width: 20%;
                margin: 2%;
                padding: 2%;
                position: relative;
                list-style: none;
                border-radius: $primary-border-radius;

                h3 {
                    font-size: 1.6em;
                    margin-bottom: 16px;
                }

                h4 {
                    font-size: 1.3em;
                    margin: 0;
                }

                p {
                    font-style: italic; 
                    padding-bottom: 50px;
                }

                div {
                    position: absolute;
                    bottom: 5%;
                    left: 0; 
                    right: 0;

                    button {
                    margin: 0;
                    margin-top: 15px;
                    padding: 0.75em;
                    }

                    .lit {
                            background-color: $btn-highlight-color;
                        }
                }
            }
        }
    }
}