<!DOCTYPE html>

<html>

<head>
    <title>Scene That</title>
    <link rel="stylesheet" href="https://necolas.github.io/normalize.css/5.0.0/normalize.css">
    <link rel="icon" type="image/png" href="../assets/favicon-film.ico">
    <link href="https://fonts.googleapis.com/css?family=Economica|Fascinate|Monofett" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    
</head>

<body ng-app="MovieApp">
    <header>
        <h1>Scene That</h1>
    </header>
    <main>
        <section ng-controller="GetMoviesController">
            <h2>Movie Reviews</h2>
            <ul>
                <li ng-repeat="currentMovie in movies">
                    <img ng-src="https://image.tmdb.org/t/p/w185_and_h278_bestv2{{ currentMovie.poster_path }}">
                    <h3>{{ currentMovie.original_title }}</h3>
                    <h4>{{ currentMovie.release_date }}</h4>
                    <p>{{ currentMovie.overview }}</p>
                    <div>
                        <button ng-click="rating(1, currentMovie)" ng-class="{ lit: currentMovie.ratingDone >= 1 }"><i class="fa fa-star" aria-hidden="true"></i></button>
                        <button ng-click="rating(2, currentMovie)" ng-class="{ lit: currentMovie.ratingDone >= 2 }"><i class="fa fa-star" aria-hidden="true"></i></button>
                        <button ng-click="rating(3, currentMovie)" ng-class="{ lit: currentMovie.ratingDone >= 3 }"><i class="fa fa-star" aria-hidden="true"></i></button>
                        <button ng-click="rating(4, currentMovie)" ng-class="{ lit: currentMovie.ratingDone >= 4 }"><i class="fa fa-star" aria-hidden="true"></i></button>
                        <button ng-click="rating(5, currentMovie)" ng-class="{ lit: currentMovie.ratingDone >= 5 }"><i class="fa fa-star" aria-hidden="true"></i></button>
                    </div>
                </li>
            </ul>
        </section>
    </main>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script src="https://use.fontawesome.com/7fb1b7bdac.js"></script>
    <script src="app.js"></script>
</body>

</html>